{% extends "base.html" %} {% block title %} MindMusic {% endblock %}

{% block content %}
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, dicta, nostrum sunt, tempore quae veniam enim dolorum quaerat facilis quod dolore labore ad et nihil nulla est maiores necessitatibus quibusdam?
{% endblock %}

{% block instruction %}
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, dicta, nostrum sunt, tempore quae veniam enim dolorum quaerat facilis quod dolore labore ad et nihil nulla est maiores necessitatibus quibusdam?
{% endblock %}